body{
    
.roboto-condensed-<uniquifier> {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg blue,cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    font-size: 18px;
}